.padding {
	padding: 10px;
}

.pageHeader {
	margin-bottom: 20px;

	button {
		margin-left: 10px;
	}

	i.fa-solid {
		font-size: 2rem;
	}

	.open {
		i.fa-solid {
			color: $cOpen
		}
	}
}

.field__created, .field__updated {
	width: 175px;
}