/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* node modules */
@import 'node_modules/@ouroboros/define-mui/sass/style';

/* reusable values */
@import 'variables';

/* common */
@import 'reset';
@import 'flex';
@import 'elements';
@import 'generic';

/* Material UI fixes */
@import 'materialui';

/* IDs */
@import 'ids';