/* colors */
$cBlack: #000000;
$cWhite: #ffffff;

$cGreen: #4dd158;
$cRed: #d50000;

$cDarkGrey: #1e1e1e;
$cDarkerGrey: #121212;
$cDarkestGrey: #252525;

$cGrey: #545454;

$cLightGrey: #a7a7a7;
$cLighterGrey: #f2f2f2;

$cBlue: #6ebadf;
$cDarkBlue: #2f8bb9;

$cOpen: #28c128;

$cError: #d93644;
$cAlert: #ff6f26;
$cWarning: #ffc926;
$cAgreed: #39a85e;
$cNotification: #36a3d9;

/* z-indexes */
$z-base: 10;
$z-dropdown: 20;
$z-header: 30;
$z-login: 40;
$z-errors: 10000;
