#errors {
	bottom: 0;
	left: 0;
	padding: 5px;
	position: absolute;
	right: 0;
	z-index: $z-errors;

	.error {
		background-color: $cError;
		border-radius: 10px;
		box-shadow: 5px 5px 8px #868686;
		color: $cWhite;
		margin: 10px;
		padding: 10px;

		.text {
			overflow: auto;

			p {
				font-weight: bold;
			}
		}
	}
}