#menu {
	.MuiDrawer-paper {
		width: 300px;
	}

	.MuiCollapse-root {
		.MuiListItemButton-root {
			padding-left: 30px;
		}
	}

	.footer {
		font-size: 0.8em;
		font-style: italic;
		padding: 5px 10px;
		text-align: center;
	}
}
